# This configuration aims to keep up quality over time and foster improvements
# i.e. clang-tidy should generally only become stricter (at least with errors)
#
# The mantra is: All checks should be errors, except those that fail on main.
#
# Put differently: If a check is fixed on main so that no violation is found
# anymore, it shall be removed from the exceptions to WarningsArErrors, so that
# check may never be violated again, i.e. 'WarningsAsErrors' is an
# ever-increasing list of guarantees of the codebase.
# This follows the ratchet approach, described in https://qntm.org/ratchet
#
# Non-Error checks give hints to the programmer. Some hints might be
# "situational", e.g. sometimes or even often useless, as long as they can be
# valuable from time to time. If Checks are generally annoying and useless 
# (or aliases), we disable them.
#
#
# to see how often a check is violated run clang-tidy e.g. like:
#
#     cmake -B build
#     ln -s build/compile_commands.json .
#     # this will take a while
#     run-clang-tidy-18 > ct.log 2> /dev/null
#
#     # list the violations
#     cat ct.log | grep "^\/.*\[[^ ]*\]$" | sed "s|\([^ ]*\):.*\[\([^ ]*\)\]$|\1 \2|" | awk '{ split($2, arr, ","); for (a in arr) { print $1, arr[a] } }' > location_violation.txt
#
#     # show a summary of violations
#     cat location_violation.txt | cut -d " " -f 2 | sort | uniq -c | sort -n


# Disabled checks are one of
# - generally irrelevant (e.g. llvmlibc, altera)
# - very annoying and providing very little or no value
# - aliases of other checks
Checks: [
  "*",

  "-llvmlibc-*", # project-specific
  "-android-*", # project-specific
  "-zircon-*", # project-specific
  "-abseil-*", # we currently don't use abseil
  "-altera-*", # we don't do OpenCL

  "-boost-use-ranges", # we don't use boost
  "-bugprone-easily-swappable-parameters", # annoying-ish
  "-fuchsia-trailing-return", # we do not have a problem with that
  "-fuchsia-default-arguments-calls", # we do not forbid default args
  "-fuchsia-multiple-inheritance", # test fixtures inherit from both testing::Test and a base class
  "-fuchsia-overloaded-operator", # we can not overload the operator() anywhere
  "-fuchsia-statically-constructed-objects", # we allow statically constructed objects; constexpr is not always possible
  "-llvm-header-guard", # header guards are not needed as we use pragma once
  "-llvm-include-order", # conflicts with the order of includes forced by our formatter
  "-llvm-namespace-comment", # we do not require namespace comments
  "-misc-non-private-member-variables-in-classes", # it is not possible to disable this for structs
  "-misc-no-recursion", # we allow recursion
  "-modernize-use-trailing-return-type", # purely cosmetic
  "-readability-named-parameter", # does not work with our error of unused variable
  "-cert-err60-cpp", # conflicts with using cpptrace::lazy_exception

  # The following are aliases to other checks, thus we disable them
  "-bugprone-narrowing-conversions",
  "-cert-dcl37-c",
  "-cert-dcl51-cpp",
  "-cert-err09-cpp",
  "-cert-err61-cpp",
  "-cert-msc30-c",
  "-cert-msc32-c",
  "-cert-oop11-cpp",
  "-cert-oop54-cpp",
  "-cppcoreguidelines-avoid-c-arrays",
  "-cppcoreguidelines-avoid-magic-numbers",
  "-cppcoreguidelines-c-copy-assignment-signature",
  "-cppcoreguidelines-explicit-virtual-functions",
  "-cppcoreguidelines-macro-to-enum",
  "-cppcoreguidelines-noexcept-move-operations",
  "-cppcoreguidelines-noexcept-swap",
  "-cppcoreguidelines-non-private-member-variables-in-classes",
  "-cppcoreguidelines-use-default-member-init",
  "-google-readability-namespace-comments",
  "-hicpp-avoid-c-arrays",
  "-hicpp-avoid-goto",
  "-hicpp-braces-around-statements",
  "-hicpp-deprecated-headers",
  "-hicpp-explicit-conversions",
  "-hicpp-invalid-access-moved",
  "-hicpp-member-init",
  "-hicpp-move-const-arg",
  "-hicpp-named-parameter",
  "-hicpp-no-array-decay",
  "-hicpp-noexcept-move",
  "-hicpp-no-malloc",
  "-hicpp-special-member-functions",
  "-hicpp-uppercase-literal-suffix",
  "-hicpp-use-auto",
  "-hicpp-use-emplace",
  "-hicpp-use-equals-default",
  "-hicpp-use-nullptr",
  "-hicpp-use-override",
  "-hicpp-vararg",
  "-llvm-else-after-return",
  "-llvm-qualified-auto",
  "-llvm-header-guard",
]

# We try to be as strict as possible.
# This list shall shrink by fixing violations in the code
# This list should only grow if clang-tidy learns new checks.
WarningsAsErrors: '
  *,
  -bugprone-exception-escape,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-macro-parentheses,
  -bugprone-unchecked-optional-access,
  -cert-err58-cpp,
  -cert-msc50-cpp,
  -cert-msc51-cpp,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -cppcoreguidelines-special-member-functions,
  -fuchsia-default-arguments-declarations,
  -fuchsia-multiple-inheritance,
  -fuchsia-virtual-inheritance,
  -google-build-using-namespace,
  -google-explicit-constructor,
  -google-runtime-int,
  -google-runtime-operator,
  -google-upgrade-googletest-case,
  -hicpp-signed-bitwise,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,
  -modernize-concat-nested-namespaces,
  -modernize-pass-by-value,
  -modernize-type-traits,
  -modernize-use-default-member-init,
  -modernize-use-nodiscard,
  -performance-move-const-arg,
  -performance-unnecessary-value-param,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-implicit-bool-conversion,
  -readability-inconsistent-declaration-parameter-name,
  -readability-magic-numbers,
  -readability-make-member-function-const,
  -readability-qualified-auto,
  -readability-redundant-inline-specifier,
  -readability-simplify-boolean-expr,
'

HeaderFilterRegex: '.*\/nes-.*' # Only check files in nes- directories


# We choose the following naming conventions that are quite similar to the ClickHouse naming conventions
CheckOptions:
  cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: 'true'
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.StaticConstantCase: CamelCase
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.PrivateMemberPrefix: ''
  readability-identifier-naming.ProtectedMemberPrefix: ''
  readability-identifier-naming.PublicMemberCase: camelBack
  readability-identifier-naming.MethodCase: camelBack
  readability-identifier-naming.PrivateMethodPrefix: ''
  readability-identifier-naming.ProtectedMethodPrefix: ''
  readability-identifier-naming.ParameterPackCase: camelBack
  readability-identifier-naming.TemplateTemplateParameterCase: CamelCase
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.TypeTemplateParameterCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.ParameterCase: camelBack
  modernize-loop-convert.UseCxx20ReverseRanges: false
  performance-move-const-arg.CheckTriviallyCopyableMove: false
  google-runtime-int.TypeSuffix: '_t'
  # Workaround clang-tidy bug: https://github.com/llvm/llvm-project/issues/46097
  readability-identifier-naming.TypeTemplateParameterIgnoredRegexp: expr-type
  cppcoreguidelines-avoid-do-while.IgnoreMacros: 'true'
  readability-function-cognitive-complexity.IgnoreMacros: 'true'
  # All allowed abbreviations are covered in the `frequently_used_abbreviations.md` document
  readability-identifier-length.IgnoredParameterNames: 'it|bm|tb|id|os|ss|lhs|rhs|ts|op|fn'
  readability-identifier-length.IgnoredVariableNames: 'it|bm|tb|id|os|ss|lhs|rhs|ts|op|fn'
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  # Workaround for header bug around std::expected and std::ranges::fold_left
  # It always tries to insert the libc++ implementation headers instead of the stdlib headers.
  # Also, it sometimes even tries to remove the stdlib headers as not needed, then inserts the libc++ headers.
  # Reflection headers use transitive includes intentionally for clean API separation
  misc-include-cleaner.IgnoreHeaders: 'expected;__.*expected\.h;__.*unexpected\.h;__.*fold\.h;__.*ranges_lower_bound\.h;LogicalFunctionReflection\.hpp;TraitReflection\.hpp;Reflection\.hpp;Reflection.*\.hpp'
